body {
  outline: 0;
  margin: 0;
}
p {
  font-size: 0.7rem;
}
.contentDiv {
  padding: 2rem;
}

.upperDiv {
  display: flex;
  align-items: center;
  background: linear-gradient(-15deg, white 35%, #0595ab 35%);
}

.myPictureDiv {
  width: 220px;
  height: 300px;
  position: relative;
  flex: none;
}
.myPictureImg {
  /* max-height: 100%;
  max-width: 100%; */
  width: 220px;
  height: 300px;
  object-fit: cover;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 1rem;
  box-shadow: 0 1px 2px;
}
.name {
  display: flex;
  position: absolute;
  justify-content: center;
  padding-bottom: 0;
  color: white;
  bottom: 0;
  font-size: 3rem;
  text-shadow: 1px 1px black;
  width: 100%;
}

.photoTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.photoText {
  padding: 0;
  margin-bottom: 2rem;
}

.photoIcons {
  display: flex;
  justify-content: right;
}

.photoIcons img {
  margin: 0px 5px;
}

.middleTitle {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-top: -2.25rem;
}

.middleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
}

.projectItem {
  max-width: 200px;
  box-shadow: 0 1px 2px;
  font-size: 0.7rem;
}

.projectGrid {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projectPhoto {
  padding: 2rem;
  color: white;
  font-size: 1.5rem;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
}

.projectTitle {
  font-weight: bold;
}

.projectData {
  padding: 1rem;
}

.lowerDiv {
  display: flex;
  align-items: center;
  background: #0595ab;
}

.contactMe {
  display: flex;
  color: white;
  flex-direction: column;
  padding: 2rem 1rem;
}

.photoIconsBottom {
  display: flex;
  justify-content: left;
}

.photoIconsBottom img {
  margin-right: 5px;
}

.myPictureDivBottom {
  width: 350px;
  flex: none;
  position: relative;
}

.myPictureImgBottom {
  width: 350px;
  height: 247px;
  object-fit: cover;
}
.contactItem {
  display: flex;
  font-size: 0.7rem;
  align-items: center;
}

@media (max-width: 500px) {
  .projectGrid {
    margin-bottom: 2rem;
  }
  .upperDiv {
    flex-wrap: wrap;
    justify-content: center;
  }
  .myPictureDiv {
    width: 200px;
  }
  .myPictureImg {
    width: 200px;
  }
  .myPictureDivBottom {
    width: 180px;
  }
  .myPictureImgBottom {
    width: 180px;
    object-position: 70%;
  }
  .photoIcons {
    align-self: center;
  }
  .aboutMe {
    padding: 0;
    box-shadow: 0 0 0;
    margin: 4rem 0;
    padding: 1rem 1rem 0rem 1rem;
  }
  .middleTitle {
    text-align: center;
  }
  .contentDiv {
    padding: 0;
  }
  .photoText {
    margin-bottom: 0.5rem;
  }
  .photoTitle {
    text-align: center;
  }
  .lowerDiv {
    flex-wrap: wrap;
    justify-content: center;
  }
  .myPictureDivBottom {
    width: 95vw;
    flex: none;
    position: relative;
  }

  .myPictureImgBottom {
    width: 95vw;
    height: 247px;
    object-fit: cover;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .myPictureDiv {
  }

  .projectGrid {
  }
  .myPictureDivBottom {
    width: 180px;
  }
  .myPictureImgBottom {
    width: 180px;
    object-position: 70%;
  }
}
